.auth-container{
    background: white !important;
    padding: 40px 60px 60px 60px;
    border-radius: 10px;
    border: 2px solid #000000;
    text-align: center;
}

.auth-switch{
    font-size: 13px;
}