body {
    font-family:Arial, Sans-Serif;
    background: #ABAC9C;
}

label {
    color: darkblue;
    font-weight: bold;
    margin-top: 10px;
}

.clearfix:before, .clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
a{
    color:#0067ab;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
.form{
    width: 300px;
    margin: auto auto;
}
.error {
    background-color: #ff6666;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px auto;
    width: 300px;
}

.box {
    position: absolute;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}
input[type='text'],
input[type='email'],
input[type='password'] {
    width: 200px;
    border-radius: 2px;
    border: 1px solid #CCC;
    padding: 10px;
    color: #333;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type='submit']{
    background: #016ABC;
    font-size: 20px;
    padding: 10px 50px;
    color: #fff;
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}
input[type='submit']:hover {
    background: #001254;
    font-size: 20px;
    padding: 10px 50px;
    color: #fff;
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

.info {
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 20px;
}

.title-info {
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 20px;
}

.parent-content {
    display: flex;
    align-items: center; /* Center child vertically */
    justify-content: center; /* Center child horizontally */
    height: 100vh;
}

.content {
    text-align: center;
    margin-bottom: 10%;
}

.create-button a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background: darkblue;
    border: 1px darkblue;
    color: #fff;
    border-radius: 20px;
    font-size: 15px;
}

.create-button a:hover {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: darkslategrey;
    background: lightskyblue;
    border: 1px lightskyblue;
    border-radius: 20px;
}

#riddles-empty {
    background: white;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid #000;
    color: red;
    padding: 20px 160px;
    font-weight: bold;
}

.no-list-style {
    list-style-type: none !important;
    padding-left: 0;
}

.main-container{
    background: white !important;
    padding: 40px 60px 60px 60px;
    border-radius: 10px;
    border: 2px solid #000000;
    text-align: center;
    min-width: 300px;
}

.auth-switch{
    font-size: 13px;
}