{% extends "base.twig" %}

{% block head %}
    <title>Home | LSCoins</title>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/navbar_styles.css"/>
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/numericlist_styles.css"/>
{% endblock %}

{% block name %}Home{% endblock %}

{% block header %}
    <!-- Dropdown -->
    <div class="dropdown">
        <!-- Email -->
        <button class="dropbtn">
            {% if email is not defined %}
                Menu
            {% else %}
                {{ email }}
            {% endif %}
        </button>
        <!-- Logout suboption -->
        <div class="dropdown-content">
            {% if email is not defined %}
                <a href="/sign-in">Sign in</a>
                <a href="/sign-up">Sign up</a>
                <a href="/riddle">List riddles</a>
            {% else %}
                <a href="/profile">Your Profile</a>
                {% if team is not defined or team is null %}
                    <a href="/join">Join a Team</a>
                {% else %}
                    <a href="/team-stats">Your Team Stats</a>
                    <a href="/game">Start a game</a>
                {% endif %}
                <a href="/riddle">List riddles</a>
                <a href="/log-out">Logout</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class = "parent-content">
        <div class = "content">
            <h1 data-cy="home__welcomeMsg" style = "text-align: center; ">Hello {{ username }}!</h1>
            <p class="info">
                Here in PuzzleMania you can create riddles, join a team and guess riddles together with
                your teammates, all with the purpose to solve a mystery puzzle.
                <br><br>
                Come on! We count on you :)
            </p>
            <br>
            <h3 class="title-info">Here are the main features of the webpage: </h3>

            <div class ="feature-item" href="/join"><a href="/join">Join a Team.</a></div>
            <div class ="feature-item"><a href="/team-stats">Watch your Team stats to know how you're doing.</a></div>
            <div class ="feature-item"><a href="/profile">Watch your profile and change your profile picture.</a></div>
            <div class ="feature-item"><a href="/game">Start a game with 3 riddles and get a score that will be added to your team stats.</a></div>
            <div class ="feature-item"><a href="/riddle">List riddles.</a></div>
        </div>
    </div>


{% endblock %}




