{% extends "base.twig" %}

{% block head %}
    <title>Riddles | LSCoins</title>
    <link rel="stylesheet" href="{{ full_url_for('riddle_get') }}assets/css/navbar_styles.css"/>
    <link rel="stylesheet" href="{{ full_url_for('riddle_get') }}assets/css/numericlist_styles.css"/>
{% endblock %}

{% block title %} Riddle {% endblock %}

{% block header %} {% endblock %}

{% block content %}

    {% if riddles is empty %}
        <div class="box" id="riddles-empty">
            <div style = "background: white; margin-top: 5px; padding-left: 160px; padding-right: 160px; border-radius: 10px; border: 2px solid #000;">
                <p><b>Riddles not found</b></p>
            </div>
        </div>
    {% else %}
        <div class="box" id="riddles-list">

            {% for riddle in riddles %}
                <div style = "background: white; margin-top: 5px; padding-left: 160px; padding-right: 160px; border-radius: 10px; border: 2px solid #000;">
                    <p><b>Riddle #{{ loop.index }}:</b> {{ riddle }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
