{% extends "base.twig" %}

{% block head %}
    <title>Riddles | LSCoins</title>
    <link rel="stylesheet" href="{{ full_url_for('riddle_get') }}assets/css/navbar_styles.css"/>
    <link rel="stylesheet" href="{{ full_url_for('riddle_get') }}assets/css/numericlist_styles.css"/>
{% endblock %}

{% block title %} Riddle {% endblock %}

{% block header %} {% endblock %}

{% block content %}

    <div class="box">

        {% for riddle in riddles %}
            <div style = "background: white; margin-top: 5px; padding-left: 160px; padding-right: 160px; border-radius: 10px; border: 2px solid #000;">
                <p><b>Riddle #{{ loop.index }}:</b> {{ riddle }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
